{% extends "base.html" %}

{% block content %}
<a style="margin-top: 20px" href="/addEventForm" type="button" class="btn btn-outline-success">Добавить событие</a>
{% for event in events %}
<div class="card" style="width: 600px; margin-top: 30px;">
  <div class="card-body">
    <h5 class="card-title">{{ event.title }}</h5>
    <p class="card-text">{{ event.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Создал: {{ event.user.surname }} {{ event.user.name }}</li>
    <li class="list-group-item">Класс: {{ event.classClub }}</li>
    <li class="list-group-item">Школа: {{ event.schoolRelation.title }}</li>
  </ul>
  {% if current_user.id == event.userCreated %}
  <a href="/deleteEvent/{{ event.id }}" type="button" class="btn btn-outline-danger">Удалить</a>
  {% endif %}
</div>
{% endfor %}
{% endblock %}